---
title: LET'S TALK PLASTIC
subtitle: We Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, consequatur, voluptatem, voluptatibus, ut voluptatum nam eligendi illo tempora dolores quo nihil eos perferendis obcaecati voluptates quam. Odit, doloribus ratione quibusdam.

contact:
  phone: 1.800.524.0781
  website: letstalk@xl-plastic.com
  address: 220,clifton blvd, clifton, nj 07011

---


<div class="row">
	<img data-src="holder.js/1350x350/social">
</div>

<div class="container">
	<h1 >{{title}}</h1>
	<p>{{subtitle}}</p>
	<br>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1">

			<p><span class="glyphicon glyphicon-earphone">&nbsp</span>{{this.contact.phone}}</p>
			<p><span class="glyphicon glyphicon-phone">&nbsp</span>{{contact.website}}</p>
			<p><span class="glyphicon glyphicon-envelope">&nbsp</span>{{contact.address}}</p>
		</div>

		<div class="col-xs-6">
			<form action="" method="POST" role="form">

				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="FULL NAME*">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="COMPANY*">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="EMAIL*">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="" placeholder="PHONE*">
				</div>

				<div class="form-group">
					<textarea class="form-control" id="" placeholder="YOUR MESSAGE" rows="6"></textarea>
				</div>


				<button type="submit" class="btn btn-primary pull-right">Submit</button>
			</form>

		</div>
	</div>
</div>







