---
title: Industries We Serve
message: X-L Plastics manufactures products for a wide variety of industries, including pharmaceutical, food service, hazardous waste, industrial, and retail.
slogan:

news:
  - title: Pharmaceutical
    image: pills.png
    content: X-L Plastics’ pharmaceutical bags are top-of-the-line and comply with all required specifications. With advanced features, the pouches keep contents sterile and allow for the safe transport of medicines.
  - title: food service
    image: corn.png
    content: X-L Plastics’ specially designated food service industry bags and liners are composed of FDA-approved components. Food that is packaged in these bags is safe to ingest. As always, bags can be customized to suit your specific needs.
  - title: Industrial
    image: drop_icon.png
    content: X-L Plastics’ bags for industrial and janitorial industries are suitably durable for heavy use.
  - title: Retail
    image: hospitality.png
    content: X-L Plastics’ products for the commercial market include numerous kinds of liners, bags, film, etc.
  - title: HAZARDOUS WASTE
    image: auto.png
    content: X-L Plastics produces bags with appropriate logos for specimen transport and hazardous waste removal.

banner-link: assets/images/page-banners/industries.jpg

hclass: page-heading
---

{{> banner }}


<div class="container">
	<h1 class="{{hclass}}">{{title}}</h1>
	<div class="row">
		<div class="col-xs-4">
			<p class="message">{{message}}</p>
			<h3 class="page-subheading">{{slogan}}</h3>
		</div>


		<div class="col-xs-7 col-xs-offset-1 news-panel">
		  {{#each news}}
		  	<div class="news">
		  		<div class="row">
		  			<div class="col-xs-2">
							<img class="news-avatar img-responsive" src="assets/images/industries/{{this.image}}">
		  			</div>
		  			<div class="col-xs-10">
		  				<h2 class="news-heading">{{this.title}}</h2>
							<p class="news-content">{{this.content}}</p>
		  			</div>
		  		</div>
		  	</div>
			{{/each}}
		</div>

	</div>
</div>
