---
title: Packaging Bags
image_path: assets/images/packaging_bags

left-items:
  - image: assets/images/packaging_bags/drum.png
    title: drum liners
    description: Drum liners line pails and drums, ensuring a more efficient cleaning process.

  - image: assets/images/packaging_bags/boxes.png
    title: carton liners
    description: Carton liners line cartons and boxes to protect products, especially during transport

  - image: assets/images/packaging_bags/pallet.png
    title: pallet covers
    description: Pallet covers encase material on pallets, offering protection from the elements

  - image: assets/images/packaging_bags/danger.png
    title: asbestos liners
    description: Asbestos liners are used in the removal of asbestos, which can be harmful to those exposed to it.

  - image: assets/images/packaging_bags/flame.png
    title: flame retardent sheets/bags
    description: Flame retardant sheets protect contents from fire and other elements.

  - image: assets/images/packaging_bags/plant.png
    title: biodegradable bags
    description: Biodegradable bags are an environment friendly alternative to regular bags.

right-items:
  - image: assets/images/packaging_bags/bio.png
    title: red biohazards
    description: Red biohazard bags are used to dispose of biological material and medical waste that may present a risk to people, animals or the environment.

  - image: assets/images/packaging_bags/pills.png
    title: pharmaceutical packaging
    description: Pharmaceutical packaging is used to transport medication in special pouches that protect the contents.

  - image: assets/images/packaging_bags/mattress.png
    title: mattress bags
    description: Mattress bags are used to cover and protect mattresses and box springs while moving or storing them, as well as for mattress removal in case such as bed bugs infestations

  - image: assets/images/packaging_bags/couch.png
    title: furniture bags
    description: Furniture bags are used for moving or storing various furniture items.

  - image: assets/images/packaging_bags/washer.png
    title: soiled linen/laundry bags
    description: soiled linen/laundry bags are bags intended specifically for handling soiled or infectious laundry.

banner-link: assets/images/page-banners/packaging_bags.jpg
---

{{> banner }}


<div class="container">
	<h1 class="page-heading">{{title}}</h1>

	<div class="row">
		<div class="col-xs-6">
			{{#each left-items}}
				<div class="row">
					<div class="col-xs-2">
						<span> <img src="{{image}}" alt=""></span>
					</div>
					<div class="col-xs-10">
						<h4 class="uc">{{this.title}}</h4>
						<p>{{this.description}}</p>
					</div>

				</div>
			{{/each}}
		</div>
		<div class="col-xs-6">
			{{#each right-items}}
				<div class="row">
					<div class="col-xs-2">
						<span> <img src="{{image}}" alt=""></span>
					</div>
					<div class="col-xs-10">
						<h4 class="uc">{{this.title}}</h4>
						<p>{{this.description}}</p>
					</div>

				</div>
			{{/each}}
		</div>
	</div>


</div>







