<div class="container">
	<h1>{{title}}</h1>
	<div class="row">
		<div class="col-xs-6">
			<p>{{message}}</p>
			<h3>{{slogan}}</h3>
		</div>

		<div class="col-xs-6 news-panel">
			<h2>{{news1_title}}</h2>
			<p>{{news1_content}}</p>

			<h2>{{news2_title}}</h2>
			<p>{{news2_content}}</p>

		</div>

	</div>
</div>