<div class="container">
	<h1 class="page-heading">{{title}}</h1>
	<div class="row">
		<div class="col-xs-6">
			<p>{{message}}</p>
			<h3 class="page-subheading">{{slogan}}</h3>
		</div>

		<div class="col-xs-6 news-panel">
			{{#each news}}
				<h2 class="news-heading">{{this.title}}</h2>
				<p>{{this.content}}</p>
			{{/each}}
		</div>
	</div>
</div>